.card {
	display: flex;
	width: 100%;
	padding: 20px 0;
	cursor: pointer;
	transition: transform 300ms ease;
	color: #000;
	border-bottom: 1px solid #f2f2f2;
	
	&:hover {
		@media (min-width:768px) {
			transform: scale(1.05);
		}
	}
	
	@media (min-width: 768px) {
		padding: 20px 30px;
		position: relative;
		flex-direction: column;
		align-items: center;
		border-radius: 15px;
		box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.2);
		text-align: center;
	}
}


.card__image-wrapper {
	flex: none;
	width: 100px;
	height: 100px;
	@media (min-width: 768px) {
		width: 150px;
		height: 150px;
	}
}

.card__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card__info-wrapper{
	padding: 0 20px;
	flex-grow: 1;
	max-width: 80%;

	@media (min-width:768px) {
		padding: 20px 0;
	}
}

.card__info {
	@media (min-width: 768px) {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
}

.card__title {
	display: block;
	width: 100%;
	font-size: 14px;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	
	@media (min-width: 768px) {
		margin-bottom: 10px;
	}
}

.link {
	display: block;
	text-decoration: none;
	width: 100%;
	@media (min-width:768px) {
		width: calc(33.33% - 14px);
	}
}

hr {
	display: none;
	width: 100%;
	border-width: 1px;
	border-color: rgba($color: #000000, $alpha: 0.1);
	@media (min-width: 768px) {
		display: block;
	}
}

.stars-wrapper, .price{
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 5px;
}
