.category-section {
	width: 100%;
	position: relative;
	&:hover {
		.scroll {
			opacity: 1;
		}
	}
}

.category-list {
	display: flex;
	align-items: center;
	white-space: nowrap;
	overflow-x: scroll;
	width: 100%;
	padding: 10px 12px 10px 0px;
	scroll-snap-type: x proximity;
	scroll-padding-inline-start: 6px;
	gap: 20px;
	
	&::-webkit-scrollbar {
		height: 0px;
	}
	
}

.scroll {
	opacity: 0;
	position: absolute;
	font-size: 18px;
	color: black;
	bottom: 50%;
	cursor: pointer;
	transition: color 400ms ease, opacity 300ms ease-in-out;

	&:hover {
		color: orange;
	}

	&--right {
		right: -2px;
		transform: translate(100%, 50%);
	}

	&--left {
		left: -2px;
		transform: translate(-100%, 50%);
	}

	@media (max-width: 767px) {
		display: none;
	}
}
